
# This is the configuration file for the tab reader program.
# You can add line comments in the configuration file similarly to how it is done in Python:
# (1) Placing a hashtag "#" at the beginning of each comment line.
# (2) Placing a "#" at the end of configuration lines. The program will ignore any text following the hashtag.
# Here is a summary of the various configuration options. For more detailed instructions, see the README.
# 'TIMING_SUPPLIED' signifes whether timing is supplied (that is there is a line above the sets of 4 string lines with W's, H's, Q's. etc.)
# 'GAPSIZE' specifies the Song's gap size; that is, the number of "-" or " " between 2 notes.
# 'TAB_SPACING' specifies the number of spaces in a tab in the user's text editor
# 'HAS_EXTRA' specifies whether extra text exists in the file
# 'PLAYING_LEGEND' holds a legend of other characters that may appear in string lines (e.g. h for hammer-ons, p for pull-offs, b for bends, etc.)
# 'TIMING_SYMBOLS' holds a legend of the characters that will appear in timing lines (not inc. spaces)
# 'KEEP_EXTRA' specifies whether the user desires to keep extra text from the input file

TIMING_SUPPLIED=false
GAPSIZE=3
TAB_SPACING=8
HAS_EXTRA=true
PLAYING_LEGEND=
TIMING_SYMBOLS=+.WHQESTFO
KEEP_EXTRA=true
