# This is the configuration file for the tab reader program. 
# You can add line comments in the configuration file similarly to how it is done in Python: 
# (1) Placing a hashtag "#" at the beginning of each comment line. 
# (2) Placing a "#" at the end of configuration lines. The program will ignore any text following the hashtag.
timingsupplied=false
gapsize=3
tabspacing=8
hasextra=true
playinglegend=